/* FRAMEWORK */

@import url(http://fonts.googleapis.com/css?family=Playfair+Display:700);
@import url(http://fonts.googleapis.com/css?family=Raleway:500);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://fonts.googleapis.com/css?family=PT+Serif);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);
body {
    font-size: 100%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.vertical-align {
    min-height: 100%;
    /* Fallback for vh unit */
    
    min-height: 100vh;
    /* You might also want to use
                        'height' property instead.
                        
                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.
  
                        In this case the parent of '.vertical-center'
                        is the <body> element */
    /* Make it a flex container */
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* Align the bootstrap's container vertically */
    
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
    
    width: 100%;
    /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
    
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.display-text-wrap {
    color: #fff;
    padding: 8em;
}

.display-text {
    font-family: 'Crimson Text', serif;
    font-size: 2em;
    margin-bottom: 0.6em;
    color: darkgoldenrod;
}

.main-text {
    font-family: 'Crimson Text', serif;
    line-height: 1.5em;
    font-size: 1em;
    margin-bottom: 2em;
    color: darkgoldenrod;
}
/*
.cus-button {
    border: 2px solid #fff;
    background-color: none;
    padding: 1em;
    width: 15em;
    transition: all .3s ease;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    transition: all .3s ease;
    margin: 0 auto !important;
    text-align: center !important;
}

.cus-button:hover {
    border: 2px solid #fff;
    background-color: #fff;
    transition: all .3s ease;
    color: #000;
}

.cus-button-wrap {
    margin: 0 auto !important;
    text-align: center !important;
}

.cus-button-wrap:hover {
    text-decoration: none;
    color: #000 !important;
}*/

.cus-button {
    color: #fff;
    transition: .6s ease;
}

.cus-button:hover {
    color: darkgoldenrod;
    transition: .6s ease;
}

.cus-button-wrap {
    text-decoration: none !important;
}
/* LOGO */

.navbar-brand img {
    height: 1.5em !important;
    width: auto;
    z-index: 99999999999;
    position: fixed;
    top: 15%;
    left: 20%;
}

.logo {
    height: 2em !important;
    width: 2em !important;
    position: fixed;
    z-index: 99999999;
    transition: .6s ease;
}

.logo2 {
    height: 1em;
    position: fixed;
    z-index: 99999999;
    transition: .6s ease;
}
/* HAMBURGER */

.top-animate {
    background: darkgoldenrod !important;
    top: 13px !important;
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    
    transform: rotate(45deg);
}

.mid-animate {
    opacity: 0;
}

.bottom-animate {
    background: darkgoldenrod !important;
    top: 13px !important;
    -webkit-transform: rotate(-225deg);
    /* Chrome, Safari, Opera */
    
    transform: rotate(-225deg);
}

.top-menu {
    top: 5px;
    width: 25px;
    height: 2px;
    border-radius: 10px;
    background-color: darkgoldenrod;
    transition: .6s ease;
}

.mid-menu {
    top: 13px;
    width: 25px;
    height: 2px;
    border-radius: 10px;
    background-color: darkgoldenrod;
    transition: .6s ease;
}

.bottom-menu {
    top: 21px;
    width: 25px;
    height: 2px;
    border-radius: 10px;
    background-color: darkgoldenrod;
    transition: .6s ease;
}
/*
.hamburger-icon:hover .top-menu {
    height: 3px;
    transition: .6s ease;
}

.hamburger-icon:hover .mid-menu {
    height: 3px;
    transition: .6s ease;
}

.hamburger-icon:hover .bottom-menu {
    height: 3px;
    transition: .6s ease;
}

.hamburger-icon:hover .top-animate {
    height: 3px;
}

.hamburger-icon:hover .bottom-animate {
    height: 3px;
}*/

.menui {
    background: darkgoldenrod;
    transition: 0.6s ease;
    transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);
    position: absolute;
}

.icon {
    top: 10%;
    right: 10%;
    z-index: 999;
    position: fixed;
    display: block;
    height: 32px;
    width: 32px;
}

.mobilenav {
    /*    top: 47px !important;*/
    
    font-family: 'Crimson Text', serif;
    font-size: 2em;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 1;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.mobilenav-wrap {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.mobilenav li {
    list-style-type: none;
    text-align: center;
    padding: 0.6em;
}

.mobilenav li a:hover {
    color: goldenrod !important;
    transition: all .3s ease;
}

.mobilenav li a {
    font-size: 80%;
    color: #fff;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    transition: all .3s ease;
}

.hamburger-icon p {
    text-transform: uppercase;
    font-family: 'Crimson Text', serif;
    font-size: 1em;
    font-weight: 700;
    position: fixed;
    z-index: 999999999;
    margin-left: -45px;
    margin-top: 5px;
    opacity: 0;
    transition: all .5s ease;
}

.menu-text {
    color: darkgoldenrod;
}

.menu-text2 {
    color: darkgoldenrod;
}

.hamburger-icon:hover p {
    /*top: 15.8%;
    right: 23%;*/
    
    margin-left: -60px;
    opacity: 1;
    transition: all .5s ease;
}

.hamburger {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
/* Common styles and resets */
/*
.dotstyle {
    left: 38.5%;
    position: fixed;
}

.dotstyle ul {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dotstyle li {
    position: relative;
    display: block;
    float: left;
    clear: both;
    margin: 10px 16px;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.dotstyle li a {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 50%;
    background-color: darkgoldenrod;
    background-color: darkgoldenrod;
    text-indent: -999em;
    /* make the text accessible to screen readers */
/*
    cursor: pointer;
    position: absolute;
}

.dotstyle li a:focus {
    outline: none;
}
/* FILL IN */
/*
.dotstyle-fillin li a {
    background-color: transparent;
    box-shadow: inset 0 0 0 1.5px darkgoldenrod;
    -webkit-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
}

.dotstyle-fillin li a:hover,
.dotstyle-fillin li a:focus {
    box-shadow: inset 0 0 0 1.5px white;
}
/*
.dotstyle-fillin li.current a {
    box-shadow: inset 0 0 0 8px darkgoldenrod;
}*/
/*
.active {
    box-shadow: inset 0 0 0 8px darkgoldenrod;
}*/
/*
.mobilenav li:first-child {
    top: 80%;
}*/

ul {
    list-style: none;
}

cd-nav-trigger {
    display: none;
}

#cd-vertical-nav {
    position: fixed;
    right: 11%;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}

#cd-vertical-nav li {
    text-align: right;
    margin: 10px 0px;
}

#cd-vertical-nav a {
    display: inline-block;
    /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
    
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#cd-vertical-nav a:after {
    content: "";
    display: table;
    clear: both;
}

#cd-vertical-nav a span {
    float: right;
    display: inline-block;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
    transition: 0.6s ease !important;
}

#cd-vertical-nav a:hover span {
    border: 2px solid white;
    transition: 0.6s ease;
    /*
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);*/
}

#cd-vertical-nav a:hover .cd-label {
    opacity: 1;
}

#cd-vertical-nav a.is-selected .cd-dot {
    background-color: darkgoldenrod;
    border: 2px solid darkgoldenrod !important;
}

#cd-vertical-nav .cd-dot {
    position: relative;
    /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
    
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 2px solid darkgoldenrod;
    -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
    -moz-transition: -moz-transform 0.2s, background-color 0.5s;
    transition: transform 0.2s, background-color 0.5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
/*
#cd-vertical-nav .cd-label {
    position: relative;
    margin-right: 10px;
    padding: .4em .5em;
    color: white;
    font-size: 14px;
    font-size: 0.875rem;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    opacity: 0;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}
/* HOME */

.home-home-wrap {
    /*
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://unsplash.it/g/1440/1080/?random');*/
    /*
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../images/2.jpeg');*/
    
    background: #000;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.home-home-wrap h1 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1.5em;
}

.home-intro-wrap {
    /*
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../images/4.jpg');*/
    
    background: #000;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.home-intro-wrap h1 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1em;
}

.home-about-wrap {
    /*
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../images/3.jpeg');*/
    
    background: #000;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.home-about-wrap h1 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1em;
}

.home-work-wrap {
    /*
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../images/2.jpeg');*/
    
    background: #000;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.home-work-wrap h1 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1em;
}

.home-connect-wrap {
    /*
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../images/3.jpeg');*/
    
    background: #000;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.home-connect-wrap h1 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1em;
}
/*
.home .container {
    background-color: rgba(0, 0, 0, 0.5);
    background-size: 100vw !important;
}*/
/* ABOUT */

.about {
    background: #000;
}

.about-home-wrap {
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url('../images/4.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.about-services-wrap {
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url('../images/1.jpeg');
    background-size: cover;
    background-attachment: fixed;
}

.about-me-wrap {}

.about-contact-wrap {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('../images/16.jpeg');
    background-size: cover;
    background-attachment: fixed;
}
/*
.about .display-text-wrap {
    color: #000;
}

.about-wrap .menui {
    background-color: #000;
}

.about-wrap .menu-text {
    color: #000;
}*/

.about-me {
    padding: 6em;
}
/*
.about .cus-button-wrap:hover {
    color: #000 !important;
}

.about .cus-button {
    color: #000;
    border: 2px solid #000;
}

.about .cus-button:hover {
    border: 2px solid #000;
    background-color: #000;
    color: #fff;
}*/
/* MEDIA */

@media only screen and (max-width: 349px) and (orientation: portrait) {
    .menu-text {
        display: none !important;
    }
    .menu-text2 {
        display: none !important;
    }
    .mobilenav li {
        padding: 0.3em;
    }
    .mobilenav li a {
        font-size: 80%;
    }
    .display-text {
        font-size: 2.8em;
    }
    .main-text {
        font-size: 1em;
        padding-left: 1em;
        padding-right: 1em;
    }
    .cus-button {
        font-size: 0.8em;
        padding: 0.8em !important;
        width: 11em !important;
        margin-top: -0.7em !important;
    }
    .button-1 {
        margin-left: -1.3em !important;
    }
}

@media only screen and (min-width: 350px) and (max-width: 399px) and (orientation: portrait) {
    .menu-text {
        display: none !important;
    }
    .menu-text2 {
        display: none !important;
    }
    .mobilenav li a {
        font-size: 100%;
    }
    .display-text {
        font-size: 3.3em;
    }
    .main-text {
        font-size: 1.1em;
        padding-left: 1em;
        padding-right: 1em;
    }
    .cus-button {
        font-size: 0.8em;
        padding: 0.8em !important;
        width: 12em !important;
        margin-top: -0.7em !important;
    }
    .button-1 {
        margin-left: -0.6em !important;
    }
}

@media only screen and (min-width: 400px) and (max-width: 599px) and (orientation: portrait) {
    .menu-text {
        display: none !important;
    }
    .menu-text2 {
        display: none !important;
    }
    .mobilenav li a {
        font-size: 100%;
    }
    .display-text {
        font-size: 3.5em;
    }
    .main-text {
        font-size: 1.3em;
        padding-left: 1em;
        padding-right: 1em;
    }
    .cus-button {
        padding: 0.8em !important;
        width: 10em !important;
        margin-top: -0.7em !important;
    }
    .button-1 {
        margin-left: -0.2em !important;
    }
}

@media only screen and (min-width: 600px) and (max-width: 799px) and (orientation: portrait) {
    .menu-text {
        display: none !important;
    }
    .menu-text2 {
        display: none !important;
    }
    .mobilenav li a {
        font-size: 100%;
    }
    .display-text {
        font-size: 4.5em;
    }
    .main-text {
        font-size: 1.8em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    .cus-button {
        font-size: 1.3em;
        padding: 0.8em !important;
        width: 12em !important;
        margin-top: -0.4em !important;
    }
    .button-1 {
        margin-left: -0.4em !important;
    }
}

@media only screen and (min-width: 400px) and (max-width: 499px) and (orientation: landscape) {
    .menu-text {
        display: none !important;
    }
    .menu-text2 {
        display: none !important;
    }
    .mobilenav li {
        padding: 0.1em;
    }
    .mobilenav li a {
        font-size: 70%;
    }
    .display-text {
        font-size: 2.5em;
    }
    .main-text {
        font-size: 1.1em;
        padding-left: 5.5em;
        padding-right: 5.5em;
    }
    .cus-button {
        font-size: 0.8em;
        padding: 0.8em !important;
        width: 12em !important;
        margin-top: !important;
    }
    .button-1 {
        margin-left: 1em !important;
        margin-right: -1em!important;
    }
}

@media only screen and (min-width: 500px) and (max-width: 599px) and (orientation: landscape) {
    .menu-text {
        display: none !important;
    }
    .menu-text2 {
        display: none !important;
    }
    .mobilenav li {
        padding: 0.1em;
    }
    .mobilenav li a {
        font-size: 70%;
    }
    .display-text {
        font-size: 2.8em;
    }
    .main-text {
        font-size: 1.1em;
        padding-left: 6em;
        padding-right: 6em;
    }
    .cus-button {
        font-size: 0.8em;
        padding: 0.8em !important;
        width: 12em !important;
        margin-top: !important;
    }
    .button-1 {
        margin-left: 2.5em!important;
        margin-right: -3em !important;
    }
}

@media only screen and (min-width: 600px) and (max-width: 699px) and (orientation: landscape) {
    .menu-text {
        display: none !important;
    }
    .menu-text2 {
        display: none !important;
    }
    .mobilenav li {
        padding: 0.3em;
    }
    .mobilenav li a {
        font-size: 80%;
    }
    .display-text {
        font-size: 3em;
    }
    .main-text {
        font-size: 1.2em;
        padding-left: 8em;
        padding-right: 8em;
    }
    .cus-button {
        padding: 0.6em !important;
        width: 12em !important;
    }
    .button-1 {
        margin-left: 2.5em !important;
        margin-right: -3em !important;
    }
}

@media only screen and (min-width: 700px) and (max-width: 799px) and (orientation: landscape) {
    .menu-text {
        display: none !important;
    }
    .menu-text2 {
        display: none !important;
    }
    .mobilenav li {
        padding: 0.3em;
    }
    .mobilenav li a {
        font-size: 80%;
    }
    .display-text {
        font-size: 3em;
    }
    .main-text {
        font-size: 1.2em;
        padding-left: 11em;
        padding-right: 11em;
    }
    .cus-button {
        padding: 0.8em !important;
        width: 12em !important;
    }
    .button-1 {
        margin-left: 3.5em !important;
        margin-right: -5em !important;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) and (orientation: landscape) {
    .mobilenav li a {
        font-size: 100%;
    }
    .display-text {
        font-size: 3.5em;
    }
    .main-text {
        font-size: 1.2em;
        padding-left: 100px;
        padding-right: 100px;
    }
    .cus-button {
        padding: 0.8em !important;
        width: 12em !important;
    }
    .button-1 {
        margin-left: 1.5em !important;
        margin-right: -2.5em !important;
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1050px) and (orientation: landscape) {
    .mobilenav li a {
        font-size: 100%;
    }
    .display-text {
        font-size: 3.9em;
    }
    .main-text {
        font-size: 1.6em;
        padding-left: 50px;
        padding-right: 50px;
    }
    .button-1 {
        margin-left: 0em !important;
        margin-right: 0em !important;
    }
}
/*
@media only screen and (min-width: 1051px) and (max-width: 1440px) and (orientation: landscape) {}
/*
@media only screen and (max-width: 1100px) and (orientation: landscape) {
    body {
        font-size: 120% !important;
    }
}

@media only screen and (min-width: 1100px) and (orientation: landscape) {
    body {
        font-size: 120% !important;
    }
}
/*
@media screen and (min-width: 201px) and (max-width: 400px) {
    .hero-text-title {
        font-size: 12vh;
    }
    .hero-text {
        font-size: 5vh;
        line-height: 4vh;
    }
}

@media screen and (min-width: 401px) and (max-width: 500px) {
    .hero-text-title {
        font-size: 12vh;
    }
    .hero-text {
        font-size: 4vh;
        line-height: 4vh;
    }
}

@media screen and (min-width: 501px) and (max-width: 600px) {
    .hero-text-title {
        font-size: 8vh;
    }
    .hero-text {
        font-size: 1vh;
        line-height: 4vh;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    .hero-text-title {
        font-size: 9vh;
    }
    .hero-text {
        font-size: 3vh;
        line-height: 4vh;
    }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
    .hero-text-title {
        font-size: 7vh;
    }
    .hero-text {
        font-size: 3vh;
        line-height: 4vh;
    }
}

@media screen and (min-width: 1001px) {
    .hero-text-title {
        font-size: 7vh;
    }
    .hero-text {
        font-size: 2.4vh;
        line-height: 4vh;
    }
}