/* DOTSTYLE NAV */

ul {
    list-style: none;
}

cd-nav-trigger {
    display: none;
}

#cd-vertical-nav {
    position: fixed;
    right: 7%;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}

#cd-vertical-nav li {
    text-align: right;
    margin: 5px 0px;
}

#cd-vertical-nav a {
    display: inline-block;
    /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
    
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#cd-vertical-nav a:after {
    content: "";
    display: table;
    clear: both;
}

#cd-vertical-nav a span {
    float: right;
    display: inline-block;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
    transition: 0.6s ease !important;
}

#cd-vertical-nav a:hover span {
    border: 2px solid $secondary-color;
    background-color: $secondary-color;
    transition: 0.6s ease;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

#cd-vertical-nav a:hover .cd-label {
    opacity: 1;
}

#cd-vertical-nav a.is-selected .cd-dot {
    background-color: $primary-color;
    border: 2px solid $primary-color !important;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

#cd-vertical-nav .cd-dot {
    position: relative;
    /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
    
    height: 8px;
    width: 8px;
    border-radius: 50%;
    /*
    border: 2px solid darkgoldenrod;*/
    
    background-color: $primary-color;
    -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
    -moz-transition: -moz-transform 0.2s, background-color 0.5s;
    transition: transform 0.2s, background-color 0.5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}