/* HAMBURGER */

.top-animate {
    background: $primary-color !important;
    top: 13px !important;
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    
    transform: rotate(45deg);
}

.mid-animate {
    opacity: 0;
}

.bottom-animate {
@extend .top-animate;
    -webkit-transform: rotate(-225deg);
    /* Chrome, Safari, Opera */
    
    transform: rotate(-225deg);
}

.extend-menu {
    background-color: $primary-color;
    transition: .6s ease;
    border-radius: 10px;
    width:25px;
    height:2px;
}

.top-menu {
    top: 5px;
    @extend .extend-menu;
}

.mid-menu {
    top: 13px;
    @extend .extend-menu;
}

.bottom-menu {
    top: 21px;
    @extend .extend-menu;
}

.menui {
    background: $primary-color;
    transition: .6s ease;
    transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);
    position: absolute;
}

.icon {
    top: 10%;
    right: 6%;
    z-index: 999;
    position: fixed;
    display: block;
    height: 32px;
    width: 32px;
}

.mobilenav {
    /*    top: 47px !important;*/
    
    font-family: $primary-font;
    font-size: 2em;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    /*
    background: #000;*/
    
    background: $bg-color;
    background-size: cover;
    opacity: 1;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.mobilenav-wrap {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.mobilenav li {
    list-style-type: none;
    text-align: center;
    padding: 0.6em;
    @media screen and (max-height: 450px) and (orientation: landscape) {
        padding:0.3em;
    }
}

.mobilenav li a:hover {
    color: $primary-color !important;
    transition: all .3s ease;
}

.mobilenav li a {
    font-size: 80%;
    color: $secondary-color;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    transition: all .3s ease;
}

.hamburger-icon p {
    text-transform: uppercase;
    font-family: $primary-font;
    font-size: 1em;
    font-weight: 700;
    position: fixed;
    z-index: 999999999;
    margin-left: -45px;
    margin-top: 5px;
    opacity: 0;
    transition: all .5s ease;
}

.menu-text {
    color: $primary-color;
}

.menu-text2 {
    color: $primary-color;
}

.hamburger-icon:hover p {
    margin-left: -60px;
    opacity: 1;
    transition: all .5s ease;
}

.hamburger {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}