$primary-color: darkgoldenrod;
$secondary-color: #fff;
$bg-color: #000;
$primary-font: 'Crimson Text', serif;
$secondary-font: 'Raleway', sans-serif;

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);

@import 'hamburger';
@import 'dotstyle';
@import 'animate';

body {
    background: #000;
    overflow: auto;
}

.vertical-align {
    min-height: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.display-text-wrap {
    padding: 0em;
}

.display-text {
    font-family: $primary-font;
    font-size: 2em;
    margin-bottom: 0.6em;
    color: $primary-color;
    text-transform: uppercase;
}

.main-text {
    font-family: $primary-font;
    line-height: 1.5em;
    font-size: 1em;
    margin-bottom: 2em;
    color: $primary-color;
}

.cus-button {
    color: $secondary-color;
    transition: .6s ease;
}

.cus-button:hover {
    @extend .cus-button;
    color: $primary-color;
}

.cus-button-wrap {
    text-decoration: none !important;
}

/* HOME */
.home {
    .home-wrap {
    background-color: $bg-color;
    height: 100vh;
    background-size:cover;
    }

    h1 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1.5em;
    }
    .home-home-wrap {
        background-image: url('../images/background8.png') !important;
    }
    .home-intro-wrap {
        background-image: url('../images/background9.png') !important;
    }
    .home-about-wrap {
        background-image: url('../images/background7.png') !important;
    }
    .home-work-wrap {
        background-image: url('../images/background10.png') !important;
    }
    .home-connect-wrap {
        background-image: url('../images/background5.png') !important;
    }
    .home-blog-wrap {
        background-image: url('../images/background11.png') !important;
    }
}

/* MEDIA */
/*
@media only screen and (max-width: 349px) and (orientation: portrait) {
    .menu-text {
        display: none !important;
    }
    .menu-text2 {
        display: none !important;
    }
    .mobilenav li {
        padding: 0.3em;
    }
    .mobilenav li a {
        font-size: 80%;
    }
    .display-text {
        font-size: 2.8em;
    }
    .main-text {
        font-size: 1em;
        padding-left: 1em;
        padding-right: 1em;
    }
    .cus-button {
        font-size: 0.8em;
        padding: 0.8em !important;
        width: 11em !important;
        margin-top: -0.7em !important;
    }
    .button-1 {
        margin-left: -1.3em !important;
    }
}

@media only screen and (min-width: 350px) and (max-width: 399px) and (orientation: portrait) {
    .menu-text {
        display: none !important;
    }
    .menu-text2 {
        display: none !important;
    }
    .mobilenav li a {
        font-size: 100%;
    }
    .display-text {
        font-size: 3.3em;
    }
    .main-text {
        font-size: 1.1em;
        padding-left: 1em;
        padding-right: 1em;
    }
    .cus-button {
        font-size: 0.8em;
        padding: 0.8em !important;
        width: 12em !important;
        margin-top: -0.7em !important;
    }
    .button-1 {
        margin-left: -0.6em !important;
    }
}

@media only screen and (min-width: 400px) and (max-width: 599px) and (orientation: portrait) {
    .menu-text {
        display: none !important;
    }
    .menu-text2 {
        display: none !important;
    }
    .mobilenav li a {
        font-size: 100%;
    }
    .display-text {
        font-size: 3.5em;
    }
    .main-text {
        font-size: 1.3em;
        padding-left: 1em;
        padding-right: 1em;
    }
    .cus-button {
        padding: 0.8em !important;
        width: 10em !important;
        margin-top: -0.7em !important;
    }
    .button-1 {
        margin-left: -0.2em !important;
    }
}

@media only screen and (min-width: 600px) and (max-width: 799px) and (orientation: portrait) {
    .menu-text {
        display: none !important;
    }
    .menu-text2 {
        display: none !important;
    }
    .mobilenav li a {
        font-size: 100%;
    }
    .display-text {
        font-size: 4.5em;
    }
    .main-text {
        font-size: 1.8em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    .cus-button {
        font-size: 1.3em;
        padding: 0.8em !important;
        width: 12em !important;
        margin-top: -0.4em !important;
    }
    .button-1 {
        margin-left: -0.4em !important;
    }
}

@media only screen and (min-width: 400px) and (max-width: 499px) and (orientation: landscape) {
    .menu-text {
        display: none !important;
    }
    .menu-text2 {
        display: none !important;
    }
    .mobilenav li {
        padding: 0.1em;
    }
    .mobilenav li a {
        font-size: 70%;
    }
    .display-text {
        font-size: 2.5em;
    }
    .main-text {
        font-size: 1.1em;
        padding-left: 5.5em;
        padding-right: 5.5em;
    }
    .cus-button {
        font-size: 0.8em;
        padding: 0.8em !important;
        width: 12em !important;
        margin-top: !important;
    }
    .button-1 {
        margin-left: 1em !important;
        margin-right: -1em!important;
    }
}

@media only screen and (min-width: 500px) and (max-width: 599px) and (orientation: landscape) {
    .menu-text {
        display: none !important;
    }
    .menu-text2 {
        display: none !important;
    }
    .mobilenav li {
        padding: 0.1em;
    }
    .mobilenav li a {
        font-size: 70%;
    }
    .display-text {
        font-size: 2.8em;
    }
    .main-text {
        font-size: 1.1em;
        padding-left: 6em;
        padding-right: 6em;
    }
    .cus-button {
        font-size: 0.8em;
        padding: 0.8em !important;
        width: 12em !important;
        margin-top: !important;
    }
    .button-1 {
        margin-left: 2.5em!important;
        margin-right: -3em !important;
    }
}

@media only screen and (min-width: 600px) and (max-width: 699px) and (orientation: landscape) {
    .menu-text {
        display: none !important;
    }
    .menu-text2 {
        display: none !important;
    }
    .mobilenav li {
        padding: 0.3em;
    }
    .mobilenav li a {
        font-size: 80%;
    }
    .display-text {
        font-size: 3em;
    }
    .main-text {
        font-size: 1.2em;
        padding-left: 8em;
        padding-right: 8em;
    }
    .cus-button {
        padding: 0.6em !important;
        width: 12em !important;
    }
    .button-1 {
        margin-left: 2.5em !important;
        margin-right: -3em !important;
    }
}

@media only screen and (min-width: 700px) and (max-width: 799px) and (orientation: landscape) {
    .menu-text {
        display: none !important;
    }
    .menu-text2 {
        display: none !important;
    }
    .mobilenav li {
        padding: 0.3em;
    }
    .mobilenav li a {
        font-size: 80%;
    }
    .display-text {
        font-size: 3em;
    }
    .main-text {
        font-size: 1.2em;
        padding-left: 11em;
        padding-right: 11em;
    }
    .cus-button {
        padding: 0.8em !important;
        width: 12em !important;
    }
    .button-1 {
        margin-left: 3.5em !important;
        margin-right: -5em !important;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) and (orientation: landscape) {
    .mobilenav li a {
        font-size: 100%;
    }
    .display-text {
        font-size: 3.5em;
    }
    .main-text {
        font-size: 1.2em;
        padding-left: 100px;
        padding-right: 100px;
    }
    .cus-button {
        padding: 0.8em !important;
        width: 12em !important;
    }
    .button-1 {
        margin-left: 1.5em !important;
        margin-right: -2.5em !important;
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1050px) and (orientation: landscape) {
    .mobilenav li a {
        font-size: 100%;
    }
    .display-text {
        font-size: 3.9em;
    }
    .main-text {
        font-size: 1.6em;
        padding-left: 50px;
        padding-right: 50px;
    }
    .button-1 {
        margin-left: 0em !important;
        margin-right: 0em !important;
    }
}*/