$primary-color: darkgoldenrod;
$secondary-color: #fff;
$bg-color: #000;
$primary-font: 'Crimson Text', serif;
$secondary-font: 'Raleway', sans-serif;

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);

@import 'hamburger';
@import 'dotstyle';
@import 'animate';
@import 'preloader';

body {
    background: #000;
    overflow: hidden;
}

.vertical-align {
    min-height: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.display-text {
    font-family: $primary-font;
    font-size: 2em;
    margin-bottom: 0.6em;
    color: $primary-color;
    text-transform: uppercase;
}

.main-text {
    font-family: $primary-font;
    line-height: 1.5em;
    font-size: 1em;
    margin-bottom: 2em;
    color: $primary-color;
}

.cus-button {
    color: $secondary-color;
    transition: .6s ease;
}

.cus-button:hover {
    @extend .cus-button;
    color: $primary-color;
}

.cus-button-wrap {
    text-decoration: none !important;
}

/* HOME */
.home {
    .home-wrap {
    background-color: $bg-color;
    height: 100vh;
    background-size:cover;
    }

    h1 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1.5em;
    }
    .home-home-wrap {
        background-image: url('../images/background8.png') !important;
    }
    .home-intro-wrap {
        background-image: url('../images/background9.png') !important;
    }
    .home-about-wrap {
        background-image: url('../images/background7.png') !important;
    }
    .home-work-wrap {
        background-image: url('../images/background10.png') !important;
    }
    .home-connect-wrap {
        background-image: url('../images/background5.png') !important;
    }
    .home-blog-wrap {
        background-image: url('../images/background11.png') !important;
    }
}

/* ABOUT */
