!!! 5

%head
    %title Ng Kha Meng
    %link{:href => "../css/style.css", :rel => "stylesheet"}
    %link{:href => "../css/bootstrap.min.css", :rel => "stylesheet"}
    %meta{:name => "viewport", :content => "width=device-width"}


%body


    :plain
        <div class="mobilenav">
            <div class="mobilenav-wrap">
                <li>
                    <a href="./index.html">&#91; Home &#93;</a>
                </li>
                <li>
                    <a href="./about.html">&#91; About &#93;</a>
                </li>
                <li>
                    <a href="./work.html">&#91; Work &#93;</a>
                </li>
                <li>
                    <a href="./contact.html">&#91; Contact &#93;</a>
                </li>
                <li>
                    <a href="https://medium.com/the-things" target="_blank">&#91; Blog &#93;</a>
                </li>
            </div>
        </div>
                

    .hamburger-icon
        %a.icon{:href => "javascript:viod(0)"}
            .hamburger
                %p.menu-text Menu
                %p.menu-text2 Close
                .menui.top-menu
                .menui.mid-menu
                .menui.bottom-menu


    :plain
        <nav id="cd-vertical-nav">
            <ul>
                <li>
                    <a data-scroll href="#section1" data-number="1">
                        <span class="cd-dot"></span>
                    </a>
                </li>
                <li>
                    <a data-scroll href="#section2" data-number="2">
                        <span class="cd-dot"></span>
                    </a>
                </li>
                <li>
                    <a data-scroll href="#section3" data-number="3">
                        <span class="cd-dot"></span>
                    </a>
                </li>
                <li>
                    <a data-scroll href="#section4" data-number="4">
                        <span class="cd-dot"></span>
                    </a>
                </li>
                <li>
                    <a data-scroll href="#section5" data-number="5">
                        <span class="cd-dot"></span>
                    </a>
                </li>
                <li>
                    <a data-scroll href="#section6" data-number="6">
                        <span class="cd-dot"></span>
                    </a>
                </li>
            </ul>
        </nav>
                    
                    
    .home
        
        %section.cd-section.section#section1
            .home-home-wrap.home-wrap#home
                .container
                    .row
                        .display-text-wrap.vertical-align.text-center
                            %div
                                %h1.display-text.wow.fadeInUp Stunning.
                                %h1.display-text.wow.fadeInUp Practical.
                                %h1.display-text.wow.fadeInUp Original.
                            
                            
        %section.cd-section.section#section2
            .home-intro-wrap.home-wrap#intro
                .container
                    .row
                        .display-text-wrap.vertical-align.text-center
                            %div
                                %h1.main-text.wow.fadeInUp I am
                                %h1.display-text.wow.fadeInUp Ng Kha Meng
                                %h1.main-text.wow.fadeInUp Graphic Designer / Front-End Developer                 
                            
                            
        %section.cd-section.section#section3
            .home-about-wrap.home-wrap#about
                .container
                    .row
                        .display-text-wrap.vertical-align.text-center
                            %div
                                %h1.display-text.wow.fadeInUp About Me
                                %a.cus-button-wrap{:href => "#"}
                                    %h1.main-text.cus-button.wow.fadeInUp [ Who Am I ]
        

        %section.cd-section.section#section4
            .home-work-wrap.home-wrap#work
                .container
                    .row
                        .display-text-wrap.vertical-align.text-center
                            %div
                                %h1.display-text.wow.fadeInUp My Work
                                %a.cus-button-wrap{:href => "#"}
                                    %h1.main-text.cus-button.wow.fadeInUp [ What I Do ]
                                
        
        %section.cd-section.section#section5
            .home-connect-wrap.home-wrap#connect
                .container
                    .row
                        .display-text-wrap.vertical-align.text-center
                            %div    
                                %h1.display-text.wow.fadeInUp Contact Me
                                %a.cus-button-wrap{:href => "#"}
                                    %h1.main-text.cus-button.wow.fadeInUp [ Talk To Me ]
                                
                                
        %section.cd-section.section#section6
            .home-blog-wrap.home-wrap#blog
                .container
                    .row
                        .display-text-wrap.vertical-align.text-center
                            %div
                                %h1.display-text.wow.fadeInUp My Blog
                                %a.cus-button-wrap{:href => "#"}
                                    %h1.main-text.cus-button.wow.fadeInUp [ Read My Work ]


    %script{:src => "../js/bootstrap.min.js"}
    %script{:src => "../js/jquery.min.js"}
    %script{:src => "../js/script.js"}
    %script{:src => "../js/wow.min.js"}
    %script{:src => "../js/smooth-scroll.min.js"}
    
    
    :javascript
        $(".menu-text2").hide();
        $(".icon").click(function () {
            if ($(".menu-text2").is(":visible")) {
                $(".menu-text2").hide();
                $(".menu-text").show();
            } else {
                $(".menu-text").hide();
                $(".menu-text2").show();
            }
        });
        
    :javascript
        new WOW().init();
        
    :javascript
        smoothScroll.init({
            speed: 800,
            easing: 'easeInOutCubic',
            updateURL: false,
            offset: 0,
            callback: function (toggle, anchor) {}
        });